@font-face {
  font-family: 'Intro';
  src: url("../fonts/intro-light.eot");
  src: url("../fonts/intro-light.eot#iefix") format('embedded-opentype'), url("../fonts/intro-light.woff") format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Intro';
  src: url("../fonts/intro-light-italic.eot");
  src: url("../fonts/intro-light-italic.eot#iefix") format('embedded-opentype'), url("../fonts/intro-light-italic.woff") format('woff');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Intro';
  src: url("../fonts/intro-regular.eot");
  src: url("../fonts/intro-regular.eot#iefix") format('embedded-opentype'), url("../fonts/intro-regular.woff") format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Intro';
  src: url("../fonts/intro-regular-italic.eot");
  src: url("../fonts/intro-regular-italic.eot#iefix") format('embedded-opentype'), url("../fonts/intro-regular-italic.woff") format('woff');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Intro';
  src: url("../fonts/intro-bold.eot");
  src: url("../fonts/intro-bold.eot#iefix") format('embedded-opentype'), url("../fonts/intro-bold.woff") format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Intro';
  src: url("../fonts/intro-bold-italic.eot");
  src: url("../fonts/intro-bold-italic.eot#iefix") format('embedded-opentype'), url("../fonts/intro-bold-italic.woff") format('woff');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Intro';
  src: url("../fonts/intro-black.eot");
  src: url("../fonts/intro-black.eot#iefix") format('embedded-opentype'), url("../fonts/intro-black.woff") format('woff');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Intro';
  src: url("../fonts/intro-black-italic.eot");
  src: url("../fonts/intro-black-italic.eot#iefix") format('embedded-opentype'), url("../fonts/intro-black-italic.woff") format('woff');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'Intro';
  src: url("../fonts/intro-light-alt.eot");
  src: url("../fonts/intro-light-alt.eot#iefix") format('embedded-opentype'), url("../fonts/intro-light-alt.woff") format('woff');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Intro';
  src: url("../fonts/intro-regular-alt.eot");
  src: url("../fonts/intro-regular-alt.eot#iefix") format('embedded-opentype'), url("../fonts/intro-regular-alt.woff") format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Intro';
  src: url("../fonts/intro-bold-alt.eot");
  src: url("../fonts/intro-bold-alt.eot#iefix") format('embedded-opentype'), url("../fonts/intro-bold-alt.woff") format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Intro';
  src: url("../fonts/intro-black-alt.eot");
  src: url("../fonts/intro-black-alt.eot#iefix") format('embedded-opentype'), url("../fonts/intro-black-alt.woff") format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/ops_l.eot");
  src: url("../fonts/ops_l.eot#iefix") format('embedded-opentype'), url("../fonts/ops_l.woff") format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/ops_li.eot");
  src: url("../fonts/ops_li.eot#iefix") format('embedded-opentype'), url("../fonts/ops_li.woff") format('woff');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/ops.eot");
  src: url("../fonts/ops.eot#iefix") format('embedded-opentype'), url("../fonts/ops.woff") format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/ops_i.eot");
  src: url("../fonts/ops_i.eot#iefix") format('embedded-opentype'), url("../fonts/ops_i.woff") format('woff');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/ops_sb.eot");
  src: url("../fonts/ops_sb.eot#iefix") format('embedded-opentype'), url("../fonts/ops_sb.woff") format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/ops_sbi.eot");
  src: url("../fonts/ops_sbi.eot#iefix") format('embedded-opentype'), url("../fonts/ops_sbi.woff") format('woff');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/ops_b.eot");
  src: url("../fonts/ops_b.eot#iefix") format('embedded-opentype'), url("../fonts/ops_b.woff") format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/ops_bi.eot");
  src: url("../fonts/ops_bi.eot#iefix") format('embedded-opentype'), url("../fonts/ops_bi.woff") format('woff');
  font-weight: 700;
  font-style: italic;
}