body {
  font-family: 'Intro', sans-serif;
}

.container {
  max-width: 978px;
  margin-left: auto;
  margin-right: auto;
}

.abs-link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.dn {
  display: none;
}