.calc {
  margin-bottom: 45px;

  &__subtitle,
  &__title {
    text-align: center;
    margin: 0;
  }

  &__title {
    font-size: 34px;
    color: #626161;
    margin-bottom: 10px;
    font-weight: 500;
  }

  &__subtitle {
    font-size: 22px;
    font-weight: 300;
  }

  &__content {
    margin-top: 40px;
    background-color: #1cbeda;
    padding-top: 49px;
    padding-bottom: 52px;
    color: $white;
    font-size: 18px;
    border-radius: 3px;
  }

  &__table {
    margin-left: auto;
    margin-right: auto;
    border-collapse:separate;
    border-spacing: 0 40px;

    &-col {

      &_right {
        text-align: right;
      }
    }

    &-row {
      //margin-bottom: 40px;
    }

    &-input {
      width: 36px;
      background-color: #12a9c4;
      color: $white;
      border: none;
      font-size: 16px;
      padding: 14px 22px;
      font-weight: 300;
      border-radius: 3px;
      margin-left: 13px;
      text-align: center;
      box-shadow: 0 0 3px 1px #0d9bbd inset
    }

    &-label {
      margin-left: 62px;
    }
    
    &-group {
      display: inline-block;
      cursor: pointer;

      &:first-child {
        margin-left: 13px;
      }
    }

    &-radio {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;

      &:checked  {
        & + span {
          background-color: $white;
          border-color: $white;
          color: #21d0e2;
        }
      }
    }

    &-custom {
      display: inline-block;
      line-height: 40px;
      width: 180px;
      text-align: center;
      border: 2px solid #41edff;
      border-radius: 100px;
      margin-right: 18px;

      &:hover {
        background-color: #41edff;
      }
    }

    &-calculate {
      display: block;
      margin: 0 auto;
      padding: 17px 60px;
      border: 2px solid $white;
      border-radius: 3px;
      cursor: pointer;
      background: none;
      color: $white;
      font-size: 22px;
      font-weight: 500;
      line-height: 17px;

      &:hover {
        background-color: #21d0e2;
        border-color: #21d0e2;
        color: $white;
      }
    }
  }
}