.events {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 993px;
  transform: translateX(-7.5px);
  
  &__outer {
    position: relative;
    overflow: hidden;
    padding-bottom: 45px;
    background-image: url(../images/events-bg.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
  }

  &__skier {
    position: absolute;
    width: 185px;
    height: 129px;
    right: -185px;
    bottom: 60px;
    animation: run 6s infinite;
    animation-timing-function: linear;
  }

  &__skier {
    position: absolute;
    width: 185px;
    height: 129px;
    right: -185px;
    bottom: 60px;
    animation: run 6s infinite;
    animation-timing-function: linear;
  }

  &__title {
    text-align: center;
    font-size: 34px;
    color: #626161;
    margin-top: 0;
    margin-bottom: 40px;
    font-weight: 500;
  }

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__item {
    position: relative;
    width: 245px;
    height: 289px;
    background-image: url(../images/flag.png);
    background-position: center center;
    background-repeat: no-repeat;

    &-day {
      transform: rotate(-7deg);
      position: absolute;
      top: 10px;
      left: 12px;
      font-size: 30px;
      color: $white;
      font-weight: 600;
      line-height: 45px;
    }

    &-title {
      display: flex;
      align-items: center;
      position: relative;
      height: 85px;
      width: 230px;
      top: 35px;
      transform: rotate(-10deg);
      padding-left: 15px;
      font-size: 18px;

      & a {
        display: inline-block;
        vertical-align: middle;
        color: $white;
        text-decoration: none;
        line-height: 20px;
        width: 100%;
        text-align: center;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

@keyframes run {
  from {
    right: -40%;
    bottom: 100px;
  }
  to {
    right: 110%;
    bottom: 0 ;
  }
}