.footer {
  background-color: #eb446c;
  padding-top: 45px;
  padding-bottom: 55px;
  font-family: 'Open Sans', sans-serif;
  &__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: $white;
  }

  &__block {

    &-title {
      font-family: 'Intro', 'Arial', sans-serif;
      font-size: 18px;
      font-weight: 400;
      margin-top: 0;
      margin-bottom: 20px;
      margin-left: -14px;
    }
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;

    &-item {
      line-height: 20px;
      font-size: 13px;
      font-weight: 300;
      margin-bottom: 8px;

      & a {
        font-weight: 600;
        color: $white;
        text-decoration: none;
        
        &:hover {
          text-decoration: underline;
        }
      }
    }

    &_bold {
      font-weight: 600;
    }
  }

  &__social {
    font-size: 0;
    padding: 0;
    margin-bottom: 40px;

    &-item {
      display: inline-block;
      margin-right: 20px;
    }
    
    &-icon {
      display: inline-block;
      background-color: #e33861;
      border-radius: 50%;
      padding: 12px;
      width: 30px;
      height: 30px;
      background-repeat: no-repeat;
      background-position: center center;
      
      &_vk {
        background-image: url(../images/icon-vk.png);
      }

      &_fb {
        background-image: url(../images/icon-fb.png);
      }

      &_ok {
        background-image: url(../images/icon-ok.png);
      }

      &_yt {
        background-image: url(../images/icon-yt.png);
      }
    }
  }

  &__rules {
    color: $white;
    font-weight: 600;
    font-size: 13px;
    text-decoration: none;

    &_small {
      font-size: 10px;
      font-weight: 400;
    }
    
    &:hover {
      text-decoration: underline;
    }
  }
}