/*.header-line {
  background-color: $primaryColor;

  &__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__item {
    position: relative;
    text-align: center;
    align-self: center;
    width: 230px;
    color: $white;

    &-icon {
      content: '';
      display: inline-block;

      &_scedule {
        background-image: url("../images/scedule.png");
        height: 35px;
        width: 34px;
        margin-right: 8px;
        margin-top: -4px;
      }

      &_feedback {
        background-image: url("../images/feedback-phone.png");
        width: 32px;
        height: 32px;
        margin-right: 14px;
      }
    }

    &-text {
      display: inline-block;
      font-size: 12px;
      text-transform: uppercase;
    }

    &-code {
      font-size: 14px;
      color: #ffa3b9;
    }

    &-number {
      font-size: 20px;
      color: #f3f9fa;
    }

    &-icon,
    &-text {
      vertical-align: middle;
    }

    &:first-child,
    &:last-child {
      background-color: $primaryColor3;
      font-size: 0;
      line-height: 50px;
    }
    
    &:hover {
      #b {
        text-decoration: underline;
      }
    }
  }
}*/

.header-info {
  background-color: $primaryColor;

  &__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__item {
    display: block;
    text-decoration: none;
    text-align: center;
    color: $white;
    width: 230px;
    font-size: 0;

    &-icon {
      width: 34px;
      height: 50px;
      background-position: left center;
      background-repeat: no-repeat;

      &_scedule {
        background-image: url("../images/scedule.png");
        margin-right: 8px;
      }

      &_feedback{
        background-image: url("../images/feedback-phone.png");
        margin-right: 14px;
      }
    }
    
    &-text {
      text-transform: uppercase;
      line-height: 50px;
      font-size: 12px;
    }

    &-icon,
    &-text {
      display: inline-block;
      vertical-align: middle;
      height: 50px;
    }

    &-code {
      font-size: 14px;
      color: #ffa3b9;
    }

    &-number {
      font-size: 20px;
      color: #f3f9fa;
    }

    &:hover .header-info__item-text {
      text-decoration: underline;
    }
    
    &:first-child,
    &:last-child {
      background-color: #ce375b;
    }
  }
}