.header {
  margin-top: 38px;
  margin-bottom: 36px;

  &__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    & > * {
      align-self: center;
    }
  }

  &__logo {
    &-wrapper {
      width: 303px;
      font-size: 0;
    }
  }

  &__menu {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0;
    width: 675px;
    height: 106px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__item {
    font-size: 0;
    text-transform: uppercase;

    &-link {
      display: block;
      text-decoration: none;
      text-align: center;

      & > * {
        display: inline-block;
      }
    }

    &-icon {
      background-color: $secondaryColor;
      border-radius: 50%;
      width: 60px;
      height: 60px;
      white-space: nowrap;
      font-size: 0;
      transition: all cubic-bezier(.17,.67,.83,.67) 0.2s;
    }

    &-img {
      vertical-align: middle;
    }

    &-caption {
      display: block;
      width: 100%;
      color: #5b5b5b;
      font-size: 12px;

      &::before {
        display: block;
        content: '';
        background: linear-gradient(#ebebeb, #dddddd);
        width: 50px;
        height: 8px;
        border-radius: 50%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 12px;
        opacity: .6;
      }
    }
    &-helper {
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }

    &:hover &-icon {
      background-color: $primaryColor;
      transform: translateY(-19px);
      transition: all cubic-bezier(0.1, -0.6, 0.2, 0) 0.2s;
    }

    &:hover &-caption {
      color: $primaryColor;
    }
  }
}