.slider {

  &__outer {
    position: relative;
    width: 993px;
    transform: translateX(-7.5px);
    margin-left: auto;
    margin-right: auto;
  }

  &__item {

    &-img {

      &:before {
        display: block;
        position: absolute;
        content: " ";
        background-color: #fff;
        top: 0;
        left: 0;
        bottom: 0;
        width: 20px;
      }
    }
  }

  &__caption {
    position: absolute;
    padding: 65px 40px 45px 40px;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(#e23760, .95);
    color: $white;
    width: 395px;
    //margin-left: -20px;

    &-title {
      margin: 0;
      line-height: 45px;
      font-size: 34px;
      font-weight: 500;
      margin-bottom: 16px;
    }

    &-text {
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      line-height: 20px;
      font-weight: 300;
      margin: 0;
      margin-bottom: 24px;
    }

    &-link {
      color: $white;
      text-decoration: none;
      
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__controls {
    position: absolute;
    left: 40px;

    & > * {
      cursor: pointer;
      outline: none;

      &:first-child {
        margin-right: 19px;
      }
    }
  }
}