.statistics {
  position: relative;
  background-image: url('../images/statistics-bg.png');
  background-position: bottom  center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 78px;
  overflow: hidden;

  &__box {
    position: relative;
    width: 372px;
    background-color: $white;
    height: 145px;
    margin-left: auto;
    margin-right: auto;

    &-border {
      border: 5px solid #d3eff2;
      border-radius: 3px;
      position: absolute;
      top: 6px;
      right: 6px;
      bottom: 6px;
      left: 6px;
      padding: 28px 30px;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 10px;
      height: 78px;
      bottom: -78px;
      background: linear-gradient(#abbbbd, #c4d4d6);
    }

    &::before {
      left: 50px;
    }

    &::after {
      right: 50px;
    }
  }

  &__text {
    margin: 0;
    font-size: 20px;
    font-weight: 400;

    &_small {
      font-size: 14px;
      font-weight: 300;
    }

    &_light {
      color: #1bbbd9;
      font-weight: 500;
    }
  }

  &__man {
    position: absolute;
    bottom: -36px;

    & img {
      height: 200px;
    }
  }
}