    <!--.footer-->
    <footer class="footer">
        <div class="container footer__inner">
            <div class="footer__block">
                <h3 class="footer__block-title">©2015, Фитнес-центр «Максима»</h3>
                <ul class="footer__list">
                    <li class="footer__list-item">Барнаул, ул. Лазурная, 7</li>
                    <li class="footer__list-item">Отдел продаж: <a href="tel:28-30-28">28-30-28</a></li>
                    <li class="footer__list-item">Рецепция: <a href="tel:28-30-28">28-30-28</a></li>
                </ul>
            </div>
            <div class="footer__block">
                <h3 class="footer__block-title">Режим работы</h3>
                <ul class="footer__list">
                    <li class="footer__list-item">Пн-Пт: <span class="footer__list_bold">7:00 - 22:00</span></li>
                    <li class="footer__list-item">Сб: <span class="footer__list_bold">8:00 - 22:00</span></li>
                    <li class="footer__list-item">Вс: <span class="footer__list_bold">9:00-21:00</span></li>
                </ul>
            </div>
            <div class="footer__block">
                <ul class="footer__social">
                    <li class="footer__social-item"><a href="#" class="footer__social-icon footer__social-icon_vk"></a></li>
                    <li class="footer__social-item"><a href="#" class="footer__social-icon footer__social-icon_fb"></a></li>
                    <li class="footer__social-item"><a href="#" class="footer__social-icon footer__social-icon_ok"></a></li>
                    <li class="footer__social-item"><a href="#" class="footer__social-icon footer__social-icon_yt"></a></li>
                </ul>
                <a href="#" class="footer__rules">Правила клуба <span class="footer__rules_small">(публичная оферта)</span></a>
            </div>
        </div>
    </footer>
    <!--.footer-->

    <script src="js/app.js"></script>
</body>
</html>