<header class="header">
    <div class="container header__inner">
        <div class="header__logo-wrapper">
            <a class="header__logo-link" href="index.html">
                <img class="header__logo-img" src="images/logo.png" alt="">
            </a>
        </div>
        <ul class="header__menu">
            <li class="header__item">
                <a href="#" class="header__item-link">
                    <span class="header__item-icon">
                        <span class="header__item-helper"></span>
                        <img class="header__item-img" src="images/menu-club.png" alt="">
                    </span>
                    <span class="header__item-caption">Наш клуб</span>
                </a>
            </li>
            <li class="header__item">
                <a href="#" class="header__item-link">
                    <span class="header__item-icon">
                        <span class="header__item-helper"></span>
                        <img class="header__item-img" src="images/menu-card.png" alt="">
                    </span>
                    <span class="header__item-caption">Клубные карты</span>
                </a>
            </li>
            <li class="header__item">
                <a href="#" class="header__item-link">
                    <span class="header__item-icon">
                        <span class="header__item-helper"></span>
                        <img class="header__item-img" src="images/menu-heart.png" alt="">
                    </span>
                    <span class="header__item-caption">Максима Life</span>
                </a>
            </li>
            <li class="header__item">
                <a href="#" class="header__item-link">
                    <span class="header__item-icon">
                        <span class="header__item-helper"></span>
                        <img class="header__item-img" src="images/menu-team.png" alt="">
                    </span>
                    <span class="header__item-caption">Команда</span>
                </a>
            </li>
            <li class="header__item">
                <a href="#" class="header__item-link">
                    <span class="header__item-icon">
                        <span class="header__item-helper"></span>
                        <img class="header__item-img" src="images/menu-contacts.png" alt="">
                    </span>
                    <span class="header__item-caption">Контакты</span>
                </a>
            </li>
        </ul>
    </div>
</header>