<section class="header-info">
    <div class="container header-info__inner">
        <a href="#" class="header-info__item">
            <span class="header-info__item-icon header-info__item-icon_scedule"></span>
            <span class="header-info__item-text">расписание занятий</span>
        </a>
        <a href="#" class="header-info__item">
            <span class="header-info__item-code">+7 3852 </span>
            <span class="header-info__item-number">28-30-28</span>
        </a>
        <a href="#" class="header-info__item">
            <span class="header-info__item-code">+7 3852 </span>
            <span class="header-info__item-number">28-30-29</span>
        </a>
        <a href="#" class="header-info__item">
            <span class="header-info__item-icon header-info__item-icon_feedback"></span>
            <span class="header-info__item-text">заказать звонок</span>
        </a>
    </div>
</section>