<section class="container calc">
    <h2 class="calc__title">Взвесьте себя и узнайте, что делать</h2>
    <p class="calc__subtitle">Узнайте, каким должен быть ваш вес, учитывая рост, возраст и род занятий.</p>
    <div class="calc__content">
        <form action="">
            <table class="calc__table">
                <tr class="calc__table-row">
                    <td class="calc__table-col calc__table-col_right">Вес: </td>
                    <td class="calc__table-col">
                        <input type="text" pattern="\d*" onfocus="if(this.value='кг')this.value=''" onblur="if(this.value=' ')this.value='кг'" value="кг" class="calc__table-input">
                        <span class="calc__table-label">Возраст:</span>
                        <input type="text" pattern="\d*" class="calc__table-input" onfocus="if(this.value='лет')this.value=''" onblur="if(this.value=' ')this.value='лет'" value="лет">
                        <span class="calc__table-label">Рост:</span>
                        <input type="text" pattern="\d*" onfocus="if(this.value='см')this.value=''" onblur="if(this.value=' ')this.value='см'" value="см" class="calc__table-input">
                    </td>
                </tr>
                <tr class="calc__table-row">
                    <td class="calc__table-col calc__table-col_right">Кто вы?</td>
                    <td class="calc__table-col">
                        <label class="calc__table-group">
                            <input type="radio" name="whoAreYou" value="Man" class="calc__table-radio" checked>
                            <span class="calc__table-custom">Мужчина</span>
                        </label>
                        <label class="calc__table-group">
                            <input type="radio" name="whoAreYou" value="Woman" class="calc__table-radio">
                            <span class="calc__table-custom">Женщина</span>
                        </label>
                    </td>
                </tr>
                <tr class="calc__table-row">
                    <td class="calc__table-col calc__table-col_right">Телосложение:</td>
                    <td class="calc__table-col">
                        <label class="calc__table-group">
                            <input type="radio" name="bodyType" value="1" class="calc__table-radio" checked>
                            <span class="calc__table-custom">Нормальное</span>
                        </label>
                        <label class="calc__table-group">
                            <input type="radio" name="bodyType" value="2" class="calc__table-radio">
                            <span class="calc__table-custom">Полное</span>
                        </label>
                        <label class="calc__table-group">
                            <input type="radio" name="bodyType" value="3" class="calc__table-radio">
                            <span class="calc__table-custom">Хрупкое</span>
                        </label>
                    </td>
                </tr>
            </table>
            <button class="calc__table-calculate">Рассчитать</button>
        </form>
    </div>
</section>
