<div class="events__outer">
    <div class="events__skier">
        <img src="images/skier.png" alt="">
    </div>
    <section class="events">
        <h2 class="events__title">События декабря</h2>
        <div class="events__content">
            <div class="events__item">
                <div class="events__item-day">10</div>
                <div class="events__item-title"><a href="#">Катаемся на лыжах</a></div>
            </div>
            <div class="events__item">
                <div class="events__item-day">21</div>
                <div class="events__item-title"><a href="#">Турнир по <br>армрестлингу</a></div>
            </div>
            <div class="events__item">
                <div class="events__item-day">24</div>
                <div class="events__item-title"><a href="#">Новый год в «Максиме»</a></div>
            </div>
        </div>
    </section>
</div>