<div class="slider__outer">
    <article class="slider">
        <div class="slider__item">
            <div class="slider__item-img">
                <img src="images/banner1.jpg" alt="">
            </div>
            <div class="slider__caption">
                <h2 class="slider__caption-title">
                    <a href="#" class="slider__caption-link">Карта на полгода за 9900!</a>
                </h2>
                <p class="slider__caption-text">21 декабря в фитнес-клубе Максима прошли соревнования по армрестлингу.</p>
                <div class="slider__controls-wrapper"> </div>
            </div>
        </div>
        <div class="slider__item">
            <div class="slider__item-img">
                <img src="images/banner2.jpg" alt="">
            </div>
            <div class="slider__caption">
                <h2 class="slider__caption-title">
                    <a href="#" class="slider__caption-link">Карта на полгода за 9900!</a>
                </h2>
                <p class="slider__caption-text">21 декабря в фитнес-клубе Максима прошли соревнования по армрестлингу.</p>
                <div class="slider__controls-wrapper"> </div>
            </div>
        </div>
        <div class="slider__item">
            <img class="slider__item-img" src="images/banner3.jpg" alt="">
            <div class="slider__caption">
                <h2 class="slider__caption-title">
                    <a href="#" class="slider__caption-link">Карта на полгода за 9900!</a>
                </h2>
                <p class="slider__caption-text">21 декабря в фитнес-клубе Максима прошли соревнования по армрестлингу.</p>
                <div class="slider__controls-wrapper"> </div>
            </div>
        </div>
        <div class="slider__item">
            <img class="slider__item-img" src="images/banner4.jpg" alt="">
            <div class="slider__caption">
                <h2 class="slider__caption-title">
                    <a href="#" class="slider__caption-link">Карта на полгода за 9900!</a>
                </h2>
                <p class="slider__caption-text">21 декабря в фитнес-клубе Максима прошли соревнования по армрестлингу.</p>
                <div class="slider__controls-wrapper"> </div>
            </div>
        </div>
    </article>
    <div class="slider__controls">
        <span class="slider__prev">
            <img src="images/slider-prev.png" alt="">
        </span>
        <span class="slider__next">
            <img src="images/slider-next.png" alt="">
        </span>
    </div>
</div>