<section class="statistics">
    <div class="statistics__box">
        <div class="statistics__box-border">
            <h3 class="statistics__text">Пока вы находитесь на сайте,<br>
                <span class="statistics__text_small">человечек уже прошел</span>
                <span class="statistics__text_light"> 852 </span>
                <span class="statistics__text_small">м</span><br>
                <span class="statistics__text_small">и, между прочим, потратил</span>
                <span class="statistics__text_light"> 1125 </span>
                <span class="statistics__text_small">ккал</span></h3>
        </div>
    </div>
    <div class="statistics__man">
        <img src="images/man.gif" alt="">
    </div>
</section>